*{
  box-sizing: border-box !important;
}

html, body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #EEEEEC;
  font-size: 18px;
}

body {
  padding: 30px 40px 40px 40px;
  position: relative;
}

.doppelganger {
  font-family: "doppelganger", serif;
}

.cyrene {
  font-family: "cyrene", sans-serif;
}

.work {
  font-family: 'Work Sans', sans-serif;
}

.work.bold {
  font-weight: 500;
}

a {
  color: black;
  text-decoration: none;
  z-index: 100000000000000000000000000000000000000000000000000000000000000000000000;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/*icons */
.icons {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.icons .faces {
  position: fixed;
  width: 80px;
  top: 40%;
  left: 40%;
  -webkit-animation: left-right 5s linear infinite alternate-reverse;
}

.icons .estrella {
  position: fixed;
  width: 20px;
  -webkit-animation: moveX 50s linear 0s infinite alternate, moveY 53s linear 0s infinite alternate;
}

.icons .estrella-grande {
  position: fixed;
  width: 80px;
  top: 60%;
  left: 70%;
  -webkit-animation: rotating 10s linear infinite;
}

.icons .disco {
  position: fixed;
  width: 60px;
  top: 20%;
  left: 80%;
  -webkit-animation: rotating 5s linear infinite alternate-reverse;
}

.icons .bola-1{
  position: fixed;
  width: 60px;
  -webkit-animation: moveX 200s linear 0s infinite alternate, moveY 30s linear 0s infinite alternate;
}

.icons .bola-2{
  position: fixed;
  width: 20px;
  top: 40%;
  left: 40%;
  -webkit-animation: myOrbit 6s linear  infinite;
}


@-webkit-keyframes myOrbit {
  from { -webkit-transform: rotate(0deg) translateX(150px) rotate(0deg); }
  to   { -webkit-transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}

/* --- menu -- */
.menu {
  position: relative;
  height: 100%;
  width: 100%;
}

.home-logo {
  color: black;
  font-size: 80px;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: absolute;
  line-height: 1;
  top: 0;
  left: 0;
}

.home-logo-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-image: url(assets/logo-trans.svg);
  background-repeat: no-repeat;
}

.home-logo-img:hover {
  background-image: url("assets/logo-white.svg");
}

.home-logo.small {
  font-size: 40px;
}

.mas-info {
  height: 180px;
  width: 180px;
  background-image: url("assets/mas-info.svg");
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-animation: rotating 100s linear infinite;
}

.mas-info.trans {
  background-image: url("assets/more-info-trans.svg");
}

.restart {
  height: 70px;
  width: 70px;
  background-image: url("assets/restart.svg");
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
}

.restart:hover {
  transform: rotate(-350deg);
  height: 75px;
  width: 75px;
}

.fuera {
  font-size: 27px;
  letter-spacing: 1px;
  transform: translate(50%, 0) rotate(90deg);
  text-align: center;
  position: absolute;
  top: 50%;
  right: 0;
}

.fuera:hover, .contacto:hover, .participar:hover, .terminos:hover {
  text-decoration: underline;
  background: -webkit-linear-gradient(45deg, #FDCE50, #E66622, #E63D1A, #BC3F56, #9097F9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-logo:hover {
  background: -webkit-linear-gradient(45deg, #FDCE50, #E66622, #E63D1A, #BC3F56, #9097F9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.contacto {
  text-transform: uppercase;
  font-size: 30px;
  position: absolute;
  bottom: 0;
  right: 0;
  letter-spacing: 1px;
}

.terminos {
  color: #EEEEEC;
  font-size: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  letter-spacing: 0.5px;
}

.participar {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 25px;
}

.participar .doppelganger {
  font-size: 30px;
  letter-spacing: 1px;
}

.mas-info:hover {
  background-image: url("assets/mas-info-black.svg");
}

.marco-imagen {
  height: 18px;
  background-color: white;
  background-image: url("assets/black-bot.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 25px;
}

.imagen-archivo:hover .marco-imagen{
  background-color: black;
  background-image: url("assets/white-bot.svg");

}

.imagen-archivo:hover {
  cursor: pointer;
}

.imagen-archivo {
  position: absolute;
  background-color:#EEEEEC;
}

.imagen-archivo img {
  height: 100%;
  width: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 1px solid;
  line-height: 12px;
  padding: 5px 0;
  font-size: 22px;
  font-family: 'cyrene';
  background-color:#EEEEEC;
}


/* animaciones */
@-webkit-keyframes rotating {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@-webkit-keyframes moveX {
  from { left: 0; } 
  to { left: 90%; }
}

@-webkit-keyframes moveY {
  from { top: 0; } 
  to { top: 100%; }
}

@-webkit-keyframes left-right {
  from { left:40% } 
  to { left: 5%; }
}

/* Tipografias */
@font-face {
  font-family: "cyrene";
  src: url("fonts/Cyrene.otf") format("opentype");
}

@font-face {
  font-family: "doppelganger";
  src: url("fonts/Doppelganger.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');



/* pag participar */
/* participar */
.participar-container {
  position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.descargar, .subir {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.descargar h1, .subir h1 {
  font-size: 5vw;
  text-align: center;
  margin-bottom: 0;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.descargar p, .subir p {
  margin-top: 0;
  font-size: 22px;
  text-align: center;
}

.descargar {
  background: black;
  color:#EEEEEC;
  height: 50vh;
}

.subir {
  background: #EEEEEC;
  color: black;
  height: 50vh;
}

.subir a {
  color: black;
}

.descargar a {
  color: #EEEEEC;
}

.subir a:hover, .descargar a:hover  {
  background: -webkit-linear-gradient(15deg, #FDCE50, #E66622, #E63D1A, #BC3F56, #9097F9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icons-parti img {
  position: absolute;
  top: 10%;
  bottom: 10%;
}

.icons-parti .estrella-1 {
  position: absolute;
  width: 80px;
  top: 30%;
  left: 70%;
  -webkit-animation: rotating 10s linear infinite;
}

.icons-parti .estrella-2 {
  position: absolute;
  width: 80px;
  top: 54%;
  left: 50%;
  -webkit-animation: rotating 30s linear infinite reverse;
}

.icons-parti .estrella-4 {
  position: absolute;
  width: 20px;
  top: 54%;
  left: 20%;
  -webkit-animation: myOrbit 15s linear infinite reverse;
}

.icons-parti .estrella-3 {
  position: absolute;
  width: 20px;
  top: 54%;
  left: 20%;
  -webkit-animation: moveX 200s linear 0s infinite alternate, moveY 30s linear 0s infinite alternate;
}

.center {
text-align: center;
display: block;
}

.small {
  font-size: 15px;
}

.logo-fin {
  max-width: 40%;
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*contacto*/
.contact-container {
  position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact-container a {
  width: 50%;
  max-width: 500px;
}


/*fuera*/ 
.fuera-pag {
  background: -webkit-linear-gradient(300deg, #FDCE50, #E66622, #E63D1A, #BC3F56, #9097F9);
}

.fuera-pag a {
  color: white;
}

.fuera-pag a:hover {
  -webkit-text-fill-color: black;
  text-decoration: none;
}

.fuera-pag marquee {
  color: white;
  border-color: white;

}

.fuera-pag .footer {
  background: black;
  position: fixed;
  bottom: 0;
}

.fuera-pag .text p {
  max-width: 800px;
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translate(-50%, 0);
  color: white;
  font-size: 25px;
  margin-bottom: 5vh;
}

.fuera-pag {
  overflow-y: scroll;
}

.fuera-pag .menu {
  position: fixed;
  top: 0;
  left: 0;
}

.fuera-pag .menu .home-logo-img {
  position: fixed;
  top: 30px;
  left: 40px;
}

.fuera-pag .menu .home-logo-img {
  position: fixed;
  top: 30px;
  left: 40px;
}

.fuera-pag .menu .mas-info {
  position: fixed;
  bottom: 40px;
  left: 40px;
}

.fuera-pag .menu .fuera {
  position: fixed;
  top: 50%;
  right: 40px;
}

.fuera-pag .menu .contacto {
  position: fixed;
  bottom: 40px;
  right: 40px;
}



/*info*/ 
.info-pag .footer {

  position: fixed;
  bottom: 0;
}

.info-pag .text p {
  max-width: 800px;
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translate(-50%, 0);
  color: black;
  font-size: 25px;
  margin-bottom: 5vh;
}

.info-pag {
  overflow-y: scroll;
}

.info-pag .menu {
  position: fixed;
  top: 0;
  left: 0;
}

.info-pag .menu .home-logo-img {
  position: fixed;
  top: 30px;
  left: 40px;
}

.info-pag .menu .home-logo-img {
  position: fixed;
  top: 30px;
  left: 40px;
}

.info-pag .menu .mas-info {
  position: fixed;
  bottom: 40px;
  left: 40px;
}

.info-pag .menu .fuera {
  position: fixed;
  top: 50%;
  right: 40px;
}

.info-pag .menu .contacto {
  position: fixed;
  bottom: 40px;
  right: 40px;
}


@media (max-width: 800px) {
  .fuera-pag .text p {
    font-size: 18px;
  }

  .info-pag .text p {
    font-size: 18px;
  }

  .home-logo-img {
    width: 100px;
    height: 100px;
  }

  .mas-info {
    height: 100px;
    width: 100px;
  }

  .home-logo {
    font-size: 40px;
  }

  .restart {
    height: 50px;
    width: 50px;
  }

  .participar {
    font-size: 20px;
  }

  .participar .doppelganger {
    font-size: 20px;
  }

  .contacto {
    font-size: 24px;
  }

  .fuera {
    font-size: 20px;
  }

  .descargar p, .subir p {
    font-size: 18px;
  }
  
  .descargar h1, .subir h1 {
    font-size: 10vw;
  }

  body {
    padding: 20px 20px 30px 10px;
  }

  .footer {
    line-height: 10px;
    padding: 2px 0;
    font-size: 20px;
  }

  .info-pag .menu .home-logo-img,
  .fuera-pag .menu .home-logo-img {
    top: 20px;
    left: 10px;
  }

  .info-pag .menu .mas-info,
  .fuera-pag .menu .mas-info{
    bottom: 30px;
    left: 10px;
  }

  .info-pag .menu .fuera,
  .fuera-pag .menu .fuera {
    right: 20px;
  }

  .info-pag .menu .contacto,
  .fuera-pag .menu .contacto  {
    bottom: 20px;
    right: 20px;
  }

}

@media (max-width: 500px) {
  .fuera-pag .text p {
    font-size: 16px;
  }

  .info-pag .text p {
    font-size: 16px;
  }

  .home-logo-img {
    width: 70px;
    height: 70px;
  }

  .mas-info {
    height: 70px;
    width: 70px;
  }

  .home-logo {
    font-size: 25px;
  }

  .restart {
    height: 40px;
    width: 40px;
  }

  .participar {
    font-size: 18px;
    max-width: 150px;
  }

  .participar .doppelganger {
    font-size: 18px;
  }

  .contacto {
    font-size: 19px;
  }

  .fuera {
    font-size: 18px;
  }

  .descargar p, .subir p {
    font-size: 18px;
  }
  
  .descargar h1, .subir h1 {
    font-size: 10vw;
  }

  body {
    padding: 15px 15px 20px 10px;
  }

  .footer {
    line-height: 10px;
    padding: 2px 0;
    font-size: 20px;
  }

  .info-pag .menu .home-logo-img,
  .fuera-pag .menu .home-logo-img {
    top: 15px;
    left: 10px;
  }

  .info-pag .menu .mas-info,
  .fuera-pag .menu .mas-info{
    bottom: 20px;
    left: 10px;
  }

  .info-pag .menu .fuera,
  .fuera-pag .menu .fuera {
    right: 15px;
  }

  .info-pag .menu .contacto,
  .fuera-pag .menu .contacto  {
    bottom: 15px;
    right: 15px;
  }

}
